.header {
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 80px;
    padding: 20px 30px;
}
.header img, li{
    cursor: pointer;
}


.header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
    
  