.footerContainer {
    background-color: #000;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 20px;
    color: white;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

.footerContato h3, .footerInfo h3 {
    letter-spacing: 3px;
    font-size: 20px;
}

.footerContato ul, .footerInfo ul{
    color: #b2b2b2;
    line-height: 40px;
}

.footerRights {
    color: #ccc;
    padding: 40px;
    margin-left: 100px;
    
}

